#stage {
    top: 0;
    left: 0;
    z-index: 100;
}

.stage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#background {
    background: url("../images/Backgrounds/space_background.png") 0 0 repeat-x;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#planets {
    position: absolute;
    width: 100%;
    height: 500px;
    background: url("../images/Backgrounds/planets2-01.png") repeat-x;
    top: 20px;

}

#x_wing {
   background: url("../images/Backgrounds/x_wing_image3-01.png") 0 0 repeat-x;
   z-index: 2000;
   position: absolute;
   top: 150px;
   background-repeat: no-repeat; 
   background-size: 800px 200px;
   width: 100%;
   left: 0;

}


body, html {
    height: 100%;
}
 #surface {
    background: url("../images/Backgrounds/moon_surface.png");
    background-repeat: no-repeat;
    height: 36%;
    position: absolute;
    bottom: 0;
    width: 100%;
    zoom: 2;

 }

#heading,
#stats,
#characterModels,
#players,
#attackButton,
#newgameButton {
    z-index: 2000;
    color: gold;
}

 #heading {

 }

 #stats {
    white-space: pre;
 }

 #characterModels {

 }

 #players {

 }

 #attackButton {
    height: 50%;
 }

 #newgameButton {
    height: 50%;
 }

 #bottomRow {
    position: absolute;
    bottom: 20px;
    left: 0;
 }

 .playerBox {
    height: 60px;
    width: 60px;
 }
 .playerBox img {
    height: 60px;
    width: 60px;
 }

 div {
    font-family: 'Star Jedi', arial;
 }